In [34]:
# import all important libraries

import pandas as pd
import requests
import time
import warnings
warnings.filterwarnings('ignore')

In [35]:
#keys
API_KEY = 'AIzaSyAfLxQfC-dUyNysm2wMmM7Jilfttdee6DQ'
CHANNEL_ID = "UCX6OQ3DkcsbYNE6H8uQQuVA"

In [36]:
pageToken = '&pageToken=CDIQAA'
url = 'https://www.googleapis.com/youtube/v3/search?key='+API_KEY+'&channel_id='+CHANNEL_ID+'&part=snippet,id&order=date&maxResults=10000'+pageToken
response = requests.get(url).json()

In [47]:
#function to get video statistics

def get_video_details(video_id):

  url_video_stats = 'https://www.googleapis.com/youtube/v3/videos?id='+video_id+'&part=statistics&key='+API_KEY
  response_video_stats = requests.get(url_video_stats).json()

  view_count = response_video_stats['items'][0]['statistics']['viewCount']
  try:
    like_count = response_video_stats['items'][0]['statistics']['likeCount']
  except KeyError:
    like_count = response_video_stats.get('likeCount', 0)
  try:
    comment_count = response_video_stats['items'][0]['statistics']['commentCount']
  except KeyError:
    comment_count = response_video_stats.get('commentCount', 0)

  return view_count, like_count, comment_count

In [49]:
# function to get video details from API call

def get_videos(df):
    #make API call
    pageToken = ''
    while 1:
        url = 'https://www.googleapis.com/youtube/v3/search?key='+API_KEY+'&channel_id='+CHANNEL_ID+'&part=snippet,id&order=date&maxResults=10000'+pageToken
        response = requests.get(url).json()
  
        time.sleep(1) #give it a second before starting the for loop

  
        
        for video in response['items']:
            if video['id']['kind'] == 'youtube#video':
                video_id = video['id']['videoId']
                video_title = video['snippet']['title']
                video_title = str(video_title).replace('&amp;','')
                upload_date = video['snippet']['publishedAt']
                upload_date = str(upload_date).split('T')[0]
                
                view_count,like_count = get_video_details(video_id)
      

      # save data to df
                df = df.append({'video_id':video_id,'video_title':video_title,
                       'upload_date':upload_date,'view_count':view_count,
                       'like_count':like_count},ignore_index=True)
    
        try:
            if response['nextPageToken'] != None: #if none, it means it reached the last page and break out of it
                pageToken = "&pageToken=" + response['nextPageToken']

        except:
            break
    
    return df

In [50]:
# create dataframe to store all video details
df = pd.DataFrame(columns=['video_id','video_title','upload_date','view_count','like_count','comment_count'])


# make a call
df = get_videos(df)

In [54]:
for video in response['items']:
    if video['id']['kind'] == 'youtube#video':
        video_id = video['id']['videoId']
        video_title = video['snippet']['title']
        video_title = str(video_title).replace('&amp;','')
        upload_date = video['snippet']['publishedAt']
        upload_date = str(upload_date).split('T')[0]        
                
        view_count,like_count = get_video_details(video_id)
      

      # save data to df
        df = df.append({'video_id':video_id,'video_title':video_title,
                       'upload_date':upload_date,'view_count':view_count,
                       'like_count':like_count},ignore_index=True)

In [55]:
df

,video_id,video_title,upload_date,view_count,like_count,comment_count
0,YLt73w6criQ,I Paid A Real Assassin To Try To Kill Me,2023-03-18,81331862,3626078,NaN
1,lglIQkCHO0g,Do Men Lie About Their Height?,2023-02-14,109289202,6529358,NaN
2,TJ2ifmkGGus,"1,000 Blind People See For The First Time",2023-01-28,128199965,9182138,NaN
3,7IKab3HcfFk,I Survived 50 Hours In Antarctica,2022-12-24,105660615,4152356,NaN
4,h5NvTTOlOtI,Hydraulic Press Vs Lamborghini,2022-12-10,137220328,4770048,NaN
...,...,...,...,...,...,...
350,ORUX1lHbOa8,I Opened A FREE BANK,2019-11-23,93967067,2571145,NaN
351,LU_xVr4b2qM,"Going Around A Ferris Wheel 1,000 Times Straight",2019-11-16,89183971,2149570,NaN
352,tQ4m4zD7BBA,"Last To Fall Wins $1,000,000 (Part 1)",2019-11-14,128039775,2732313,NaN
353,D9lVNzyhYnc,Surviving 24 Hours Straight In The Bermuda Tri...,2019-11-09,174272187,3525978,NaN
354,jokVbbLqV_E,"I Spent $100,000 On Lottery Tickets And Won!",2019-10-31,47125019,1247248,NaN

In [ ]:
#if you want you can save it as csv file

df.to_csv('channel', encoding='utf-8', index=False,)